
section{
    position:absolute;
    left: 255px;
}
table, td, tr{
    border:2px solid rgb(138, 43, 226);
    font-size: 30px;
    border-collapse: collapse;
    padding: 5px;
}
td{
    width:200px
}
caption {
    padding: 20px;
    color: rgb(138, 43, 226);
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
}
thead{
    background-color: darkmagenta;
    color: black;
}
.tab{
    border: 2px solid rgb(53, 5, 98);
    border-radius : 15px; 
    padding: 20px 30px;
    margin-top: 10px;
    background-color: aliceblue;
}


