
section{
    margin-left: 100px;
}
form{
    border: 2px solid rgb(53, 5, 98);
    border-radius : 15px; 
    padding: 20px 100px;
    margin-top: 10px;
    background-color: aliceblue;
    font-size: 30px;
    width: 400px;
}
input[type=text]{
    height: 30px;
    width: 200px;
    border-color: blue;
    padding: 3px;
}
input[type=submit]{
    height: 30px;
    width: 100px;
    margin-top: 20px;
}
input[type=submit]:hover{
    background-color:forestgreen;
    color: blanchedalmond;
    cursor: pointer;
}
.cher{
    padding: 20px 100px;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}
#existe{
    border: 2px solid rgb(53, 5, 98);
    border-radius : 15px; 
    background-color: rgb(150, 153, 207 , 0.5);
    padding: 10px;
    margin-left: -100px;
}
#titre{
    text-align: center; 
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
 }

